<section class="wrapper style1 align-center">
  <div class="inner">
      <h2>Couleurs</h2>
      <p>Les couleurs du mariage</p>
      <div class="items style1 medium">
        <section>
          <h3>Couleur 1</h3>
        </section>
        <section>
          <h3>Couleur 2</h3>
        </section>
        <section>
          <h3>Couleur 3</h3>
        </section>
        <section>
          <h3>Couleur 4</h3>
        </section>
        <section>
          <h3>Couleur 5</h3>
        </section>
        <section>
          <h3>Couleur 6</h3>
        </section>
      </div>
  </div>
</section>